<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>User CRUD</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
 a {
 cursor: pointer;
 background-color: lightblue;
 }
 </style>
</head>
<body>
<header ng-include="'header.html'"></header>

<div ng-controller="BookController">
    <table>
        <tr>
            <td width="100">ID:</td>
            <td><input type="text" id="id" ng-model="book.id" placeholder="ID"/></td>
        </tr>
        <tr>
            <td width="100">Title:</td>
            <td><input type="text" id="title" ng-model="book.title" placeholder="title"/></td>
        </tr>
        <tr>
            <td width="100">Author:</td>
            <td><input type="text" id="author" ng-model="book.author" placeholder="author"/></td>
        </tr>
    </table>

    <br /> <br />
    <p style="color: green">{{message}}</p>
    <p style="color: red">{{errorMessage}}</p>

    <br />
    <br />
    <br /> <br />
    Insert ID of book you wanna shown and click
    <a ng-click="getBook(book.id)">Get Book</a>

    <br /> <br />
    <li><a href="book_create.html">Add book</a></li>

    <br /> <br />
    Insert ID of book you wanna delete and click
    <a ng-click="deleteBook(book.id)">Delete Book</a>

    <br /> <br />
    Insert title (or part of it) of books you wanna find and click
    <a ng-click="findByTitle(book.title)">Find Book By Title</a>

    <br /> <br />
    Insert author (or part of it) of books you wanna find and click
    <a ng-click="findByAuthor(book.author)">Find Book By Author</a>

    <br /> <br />
    <li><a href="book_list_all.html">Get all Books</a></li>

</div>
</body>
</html>