<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>User CRUD</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
        a {
            cursor: pointer;
            background-color: lightblue;
        }
    </style>
</head>
<body>
<header ng-include="'header.html'"></header>
<main ng-view></main>


<div ng-controller="UserCRUDCtrl">
    <table>
        <tr>
            <td width="100">ID:</td>
            <td><input type="text" id="id" ng-model="user.id" /></td>
        </tr>
        <tr>
            <td width="100">First name:</td>
            <td><input type="text" id="firstName" ng-model="user.firstName" /></td>
        </tr>
        <tr>
            <td width="100">Last name:</td>
            <td><input type="text" id="lastName" ng-model="user.lastName" /></td>
        </tr>
        <tr>
            <td width="100">Email:</td>
            <td><input type="text" id="email" ng-model="user.email" /></td>
        </tr>
        <tr>
            <td width="100">Password:</td>
            <td><input type="text" id="password" ng-model="user.password" /></td>
        </tr>
    </table>
    <br />

    <a ng-click="getUser(user.id)">Get User</a>
    <a ng-click="updateUser(user.id, user.firstName, user.lastName, user.email)">Update User</a>
    <a ng-click="addUser(user.firstName, user.lastName, user.email, user.password)">Add User</a>
    <a ng-click="deleteUser(user.id)">Delete User</a>

    <p style="color: green">{{message}}</p>
    <p style="color: red">{{errorMessage}}</p>

    <a ng-click="getAllUsers()">Get all Users</a><br />
    <br />

    <div ng-repeat="usr in users">
        {{usr.id}} <br />
        {{usr.firstName}} <br />
        {{usr.lastName}} <br />
        {{usr.email}}
        <br /><br />
    </div>
</div>
</body>
</html>