<!DOCTYPE html>
<html ng-app="app_angularjs_datetime_picker">
<head>
    <meta charset="utf-8">
    <title>Create loan</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="fonts/linearicons/style.css">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Datepicker from https://github.com/kineticsocial/angularjs-datetime-picker -->
    <link rel="stylesheet" href="angularjs-datetime-picker/angularjs-datetime-picker.css" />
    <script src="angularjs-datetime-picker/angularjs-datetime-picker.js"></script>

</head>

<body>
<header ng-include="'header.html'"></header>
<main ng-view></main>
<div class="wrapper">
    <div class="inner" ng-controller="LoanController">
        <form name="create_loan_form" action="" novalidate>
            <h3>Create a loan</h3>
            <div class="form-row">
                <div class="form-wrapper">
                    <label for="">Book ID * &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="book_list_all.html" target="_blank">Find</a></label>
                    <input type="text" class="form-control" placeholder="Book ID" ng-required="true" name="book_id" id="book_id" ng-model="loan.book_id">
                    <div ng-show="create_loan_form.book_id.$touched && create_loan_form.book_id.$invalid">
                        <small style="color:red; display: block; text-align: center;">Enter a valid book ID</small>
                    </div>
                </div>
                <div class="form-wrapper">
                    <label for="">User ID * &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="user_list_all.html" target="_blank">Find</a></label>
                    <input type="text" class="form-control" placeholder="User ID" ng-required="true" name="user_id" id="user_id" ng-model="loan.user_id">
                    <div ng-show="create_loan_form.user_id.$touched && create_loan_form.user_id.$invalid">
                        <small style="color:red; display: block; text-align: center;">Enter a valid user ID</small>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-wrapper" >
                    <label for="">Borrowed at *</label>
                    <span class="lnr lnr-calendar-full"></span>
                    <input datetime-picker date-only type="date" date-format="yyyy-MM-dd" class="form-control datepicker-here" ng-model="loan.registeredAt" ng-required="true" placeholder="Borrowed at" name="registeredAt" id="registeredAt" ng-init="loan.registeredAt = '2020-06-09'"/>
                    <div ng-show="create_loan_form.registeredAt.$touched && create_loan_form.registeredAt.$invalid">
                        <small style="color:red; display: block; text-align: center;">Enter a valid date of loan</small>
                    </div>
                </div>
            </div>

            <button type="button" data-text="Add loan" ng-click="addLoan(loan.book_id, loan.user_id, loan.registeredAt, loan.returnedAt, loan.returnCondition)" ng-disabled="create_loan_form.$invalid">
                <span>Add loan</span>
            </button>

            <br/>

            <p style="color: green; font-size: 15px;">{{message}}</p>
            <p style="color: red; font-size: 15px;">{{errorMessage}}</p>
        </form>
    </div>
</div>
</body>
</html>